__pycache__/
*.py[cod]
*$py.class
.Python
build/
dist/
downloads/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
MANIFEST

venv/
ENV/
env/
.env/
ENV3.11/
.venv/
pip-log.txt
pip-delete-this-directory.txt

*.sqlite3
db.sqlite3

/static/
/media/
staticfiles/

*.log

.env
.secrets
secrets.json

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.DS_Store
.DS_Store?
._*
desktop.ini